.centerColumn {
	width: 580px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.devilFire {
	transform: scale(0.4);
}

.mainImageBox {
	border: 3px limegreen outset;
}

.mainImageBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.mainImageBoxBackground {
	width: 100%;
	height: 100%;
	background-size: 100px;
	opacity: 0.2;
	position: absolute;
	z-index: 1;
	animation: breathe 20s linear infinite alternate;
	animation-play-state: running;
}

.mainTitleBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.mainImage {
	width: 200px;
}

.centerImages {
	z-index: 2;
	opacity: 1;
}

.tikiImage {
	transform: scale(1.3, 1.3);
}

.mainImageTitle {
	margin: 0;
	padding: 0;
	font-size: 36px;
	opacity: 0.9;
	font-family: 'Nosifer', cursive;
	font-weight: bold;
	text-align: center;
	user-select: none;
}

@keyframes breathe {
	0% {
		opacity: 0.1;
	}

	100% {
		opacity: 0.9;
	}
}

@media (max-width: 700px) {
	.tikiImage {
		transform: scale(0.8, 0.8);
	}
}

@media (max-width: 500px) {
	.mainImageTitle {
		font-size: 24px;
	}

	.tikiImage {
		display: none;
	}

	.mainImage {
		max-width: 200px;
		width: 100%;
	}
}
