.showList {
	color: yellow;
	text-align: center;
}

.showListItemRow {
	background: linear-gradient(palevioletred, steelblue, forestgreen);
}

.showListLink {
	color: lightgreen;
}

.showListLink:hover {
	cursor: help;
	color: lightskyblue;
}
