.showList {
	color: yellow;
	text-align: center;
	font-size: 20px;
}

.showListItemRow {
	background: linear-gradient(palevioletred, steelblue, forestgreen);
}

.showType {
	text-align: center;
	margin: auto;
	color: red;
}
