.mainImageBox {
	border: 3px limegreen outset;
}

.mainImageBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.mainTitleBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.mainImage {
	width: 200px;
}

.mainImageTitle {
	margin: 0;
	font-size: 36px;
	color: red;
	font-family: 'Nosifer', cursive;
	font-weight: bold;
}
