.bouncingTitleBox {
	z-index: 2;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 80px;
	height: 80px;
	position: absolute;
	animation: horizontalMove 8s linear infinite alternate,
		verticalMove 5s linear infinite alternate;
	animation-play-state: running;
}

.bouncingTitle {
	margin: 0;
	padding: 24px 0 0;
	font-size: 50px;
	line-height: 60px;
	max-height: 150px;
	font-family: 'Pinyon Script', cursive;
	text-align: center;
}

@keyframes verticalMove {
	0% {
		top: 10vh;
	}
	100% {
		top: calc(100vh - 150px);
	}
}

@keyframes horizontalMove {
	0% {
		left: 0;
	}
	100% {
		left: calc(100vw - 150px);
	}
}
