// .titleContainer {
// 	margin: 0;
// 	padding: 20px 0;
// 	width: 100%;
// 	// height: 200px;
// 	background: springgreen;
// }

.titleBox {
	// border: 30px solid black;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 150px;
	height: 150px;
	// background: radial-gradient(crimson, purple, darkblue, black);
	position: absolute;
	animation: slide 10s linear infinite alternate,
		wiggle 3s linear infinite alternate;
	animation-play-state: running;
}

.titleBox:hover {
	cursor: pointer;
}

.title {
	margin: 0;
	padding: 24px 0 0;
	font-size: 50px;
	line-height: 60px;
	max-height: 150px;
	font-family: cursive;
	text-align: center;
}

.title:hover {
	// animation-play-state: running;
}

@keyframes wiggle {
	0% {
		top: 0;
	}
	100% {
		top: calc(100vh - 150px);
	}
}

@keyframes slide {
	0% {
		left: 0;
	}
	100% {
		left: calc(100vw - 150px);
	}
}
