.titleBox {
	z-index: 2;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 150px;
	height: 150px;
	position: absolute;
	animation: slide 10s linear infinite alternate,
		wiggle 3s linear infinite alternate;
	animation-play-state: running;
}

.title {
	margin: 0;
	padding: 24px 0 0;
	font-size: 50px;
	line-height: 60px;
	max-height: 150px;
	font-family: cursive;
	text-align: center;
}

@keyframes wiggle {
	0% {
		top: 100px;
	}
	100% {
		top: calc(100vh - 150px);
	}
}

@keyframes slide {
	0% {
		left: 0;
	}
	100% {
		left: calc(100vw - 150px);
	}
}
