.home {
	background: black;
	height: 100%;
	position: relative;
	background-size: 300px;
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home > span {
	top: 0 !important;
	left: 0 !important;
}

.homeTop {
	display: flex;
	justify-content: space-between;
}

.homeBottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.cat {
	width: 150px;
	height: 150px;
}

.cat:hover {
	position: relative;
}

.catRight {
	transform: scaleX(-1);
}

.devilFire {
	transform: scale(0.4);
}

.invertColors {
	filter: invert(100%);
}
