.home {
	background: black;
	height: 100vh;
	position: relative;
	background-size: 300px;
	background-repeat: repeat;
}

.home > span {
	top: 0 !important;
	left: 0 !important;
}

.homeTop {
	display: flex;
	justify-content: space-between;
}

.homeBottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 40px;
}

.cat {
	width: 200px;
	height: 200px;
}

.cat:hover {
	position: relative;
}

.catRight {
	transform: scaleX(-1);
}

.eye {
	text-align: center;
	display: block;
	height: 64px;
	font-size: 4em;
	margin: 10px 0;
	padding: 0;
	cursor: inherit;
}

.eyeBox {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.devilFire {
	transform: scale(0.4);
}

.invertColors {
	filter: invert(100%);
}

.playBlink {
	animation: blink 1s ease 2 alternate;
}

@keyframes blink {
	0% {
		transform: rotateX(0);
	}

	100% {
		transform: rotateX(90deg);
	}
}
