.home {
	background: black;
	height: 100%;
	position: relative;
	background-size: 300px;
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.homeTop {
	display: flex;
	justify-content: space-between;
}

.homeBottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.cat {
	width: 150px;
	height: 150px;
}

.cat:hover {
	position: relative;
}

.catSpin {
	transition: 500ms;
	transform: rotateY(180deg) !important;
}

.imgHorizontalFlip {
	transform: scaleX(-1);
}

.bloodDrip {
	width: 100vw;
	max-height: 30px;
}

.devilFire {
	transform: scale(0.4);
}

.invertColors {
	filter: invert(100%);
}

.rightCat {
	animation: catSpin 1s linear forwards;
}

.secretBox {
	margin-top: 20vw;
	width: 40px;
	height: 40px;
	color: yellow;
}

.secretGlow {
	box-shadow: yellow 0 0 10px;
}

@media (max-width: 700px) {
	.cat {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 500px) {
	.cat {
		width: 50px;
		height: 50px;
	}
}
