.pressQuoteContaienr {
	border: 1px solid black;
}

.pressLinkContainer {
	border: 1px dashed rosybrown;
}

.pressQuoteBox {
	margin: 10px;
	background: lightyellow;
}

.pressLinkBox {
	margin: 10px;
	background: lightblue;
}

.pressQuote {
	color: purple;
}

.pressLink {
	color: crimson;
}
