.pressContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.linksContainer,
.quotesContainer {
	width: 50%;
}

.pressLinks {
	border: 1px dashed rosybrown;
	background: green;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pressLinkBox {
	margin: 10px;
	padding: 10px;
	background: darkblue;
	animation: colorChange 0.5s linear infinite;
	animation-play-state: paused;
}

.pressLink {
	display: inline;
	padding: 10px;
}

.pressLinkBox:hover {
	cursor: help;
	animation-play-state: running;
	p {
		text-decoration: underline wavy;
	}
}

.pressQuotes {
	border: 1px solid black;
	background: orange;
}

.pressQuoteBox {
	margin: 10px;
	background: lightyellow;
}

.pressQuote {
	color: purple;
}

.topRow {
	margin: 0;
	padding: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.infoTop {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.contactInfo {
	margin: 0;
	font-size: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.horseGifs {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-around;
	img {
		height: 80px;
	}
}

.contactInfoEmail {
	color: crimson;
	transition-duration: 0.5s;
}

.contactInfoEmail:hover {
	cursor: help;
	color: violet;
	transition: linear;
	transition-duration: 0.5s;
}
