.alertTicker {
	position: relative;
	animation: scroll 30s linear infinite forwards;
	animation-play-state: running;
	white-space: nowrap;
	padding: 4px;
	z-index: 10;
	font-size: 1.5rem;
	background: black;
	width: initial;
	margin: 0;
}

@keyframes scroll {
	0% {
		transform: translateX(100%);
		color: red;
	}

	100% {
		transform: translateX(-100%);
		color: yellow;
	}
}
