.releasesPage {
	width: 100%;
	height: 100%;
	background: radial-gradient(purple, yellow, violet, cyan);
	animation: vibrate 666s ease infinite;
	animation-delay: 8s;
	animation-play-state: playing;
}

.releasesPhotoBox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.iframeBox {
	animation: skew 666s linear infinite;
	animation-delay: 8s;
	animation-play-state: playing;
}

.loader {
	text-align: center;
	font-style: italic;
	font-size: 1.3rem;
}

.coolLink {
	span {
		color: ivory;
		margin: 8px;
	}
}

.coolLink:hover {
	cursor: pointer;
}

@keyframes vibrate {
	0% {
	}

	50% {
		filter: saturate(9999%) blur(5px);
	}

	100% {
	}
}

@keyframes skew {
	0% {
	}

	50% {
		transform: rotate(180deg) scale(1.2, 1.2);
	}

	100% {
		transform: rotate(360deg);
	}
}
