a {
	text-decoration: none;
}

.navContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	border-radius: 3px;
	border: 2px double maroon;
	box-shadow: 1px 1px 2px grey;
}

.navLink {
	box-shadow: 2px 2px 2px gold;
	background: violet;
	border: 1px dotted purple;
	border-radius: 3px;
	padding: 4px;
	height: 24px;
	color: lightgreen;
}

.navLink p {
	margin: 0;
	animation: colorChange 0.5s linear infinite;
	animation-play-state: paused;
	text-shadow: 2px 2px 1px black;
	font-size: 20px;
}

.navLink p:hover {
	cursor: help;
	font-size: 25px;
	animation-play-state: running;
}

#morecat {
	// color: brown;
	// margin-top: -5px;
	display: block;
	animation: navDrop 0.5s ease-in infinite forwards;
	animation-play-state: paused;
}

#morecat:hover {
	font-size: 20px;
	animation-play-state: running;
}

@keyframes navDrop {
	0% {
		/* margin-top: 0px; */
	}
	100% {
		margin-top: 100px;
	}
}

@keyframes colorChange {
	0% {
		color: lightgreen;
	}
	10% {
		color: darkorchid;
	}
	20% {
		color: darkcyan;
	}
	30% {
		color: violet;
	}
	40% {
		color: goldenrod;
	}
	50% {
		color: saddlebrown;
	}
	60% {
		color: crimson;
	}
	70% {
		color: blanchedalmond;
	}
	80% {
		color: darkolivegreen;
	}
	90% {
		color: lightskyblue;
	}
	100% {
		color: seagreen;
	}
}
