.FourOhFourContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// background: green;
	background: linear-gradient(green, purple);
	height: 100vh;
}

.FourOhFourTitle {
	background: yellowgreen;
	color: rosybrown;
	border: 4px dashed red;
	margin-top: 40px;
	padding: 6px;
	border-radius: 2px;
}

.FourOhFourTextBox {
	animation: grow 1s linear infinite alternate;
	animation-play-state: play;
}

.FourOhFourText {
	color: hotpink;
	background: red;
	text-align: center;
	white-space: nowrap;
	margin: 20px;
	padding: 6px;
	border-radius: 2px;
}

@keyframes grow {
	0% {
		font-size: 1.2rem;
	}

	100% {
		font-size: 1.4rem;
	}
}
