.FourOhFourContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(green, purple);
	height: 100vh;
}

.FourOhFourTitle {
	background: yellowgreen;
	color: rosybrown;
	border: 4px dashed red;
	margin-top: 40px;
	padding: 6px;
	border-radius: 2px;
}

.FourOhFourTextBox {
	width: 60vw;
}

.FourOhFourText {
	color: lime;
	background: teal;
	text-align: center;
	margin: 20px;
	padding: 6px;
	border-radius: 2px;
}
