$titleRadius: 120px;
$titleRadiusLg: 160px;

$bottom: calc(100vh - 120px);
$right: calc(100vw - 120px);
$bottomLg: calc(100vh - 160px);
$rightLg: calc(100vw - 160px);

.bouncingTitleBox {
	z-index: 2;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: $titleRadius;
	height: $titleRadius;
	position: absolute;
	animation: horizontalMove 8s linear infinite alternate,
		verticalMove 5s linear infinite alternate;
	animation-play-state: running;
}

.bouncingTitle {
	color: #330544;
	margin: 0;
	padding: 24px 0 0;
	font-size: $titleRadius/3;
	line-height: $titleRadius/3;
	max-height: 80px;
	font-family: 'Pinyon Script', cursive;
	text-align: center;
}

@keyframes verticalMove {
	0% {
		top: 10vh;
	}
	100% {
		top: $bottom;
	}
}

@keyframes horizontalMove {
	0% {
		left: 0;
	}
	100% {
		left: $right;
	}
}

@media (max-width: 500px) {
	.bouncingTitleBox {
		visibility: hidden;
	}
}

@media (min-width: 1300px) {
	.bouncingTitleBox {
		animation: horizontalMove 12s linear infinite alternate,
			verticalMove 8s linear infinite alternate;
		width: $titleRadiusLg;
		height: $titleRadiusLg;
	}

	.bouncingTitle {
		font-size: $titleRadiusLg/3;
		line-height: $titleRadiusLg/3;
		max-height: 120px;
		padding: 32px 0 0;
	}

	@keyframes verticalMove {
		0% {
			top: 10vh;
		}
		100% {
			top: $bottomLg;
		}
	}

	@keyframes horizontalMove {
		0% {
			left: 0;
		}
		100% {
			left: $rightLg;
		}
	}
}
